#
# You can make a script not run if it does not fulfill certain requirements. This is
# handy if you want to share scripts with others.
#
# You don't *need* to require mods in order to use them, but it is helpful since you
# will get a warning if they are not installed.
#
/scene start "Script requirements"
	/setup
		tell cinematics "This script requires the client mod 'timelock' (by bdew). Edit the example and check the comments..."

		# Cinematics will make sure this class is defined, or we will not run the script.
		# You can find the name of this class if you look at the .properties file of 
		# the timelock mod.
		require mod "net.bdew.wurm.timelock.TimeLockMod"

		# Likewise, we can require "flight" - and if it's not available, refuse to run the script.
		require ability "flight"

		# For this example, let's lock time at 17:30, using the mod we require.
		tell console "timelock 17:30"

		# We know that flight is available for this character...
		tell console "flight"

	/camera move for 3500ms
		waypoint +0 +3 +100
		target +0 +0 +0

	/camera rotate for 411ms
		waypoint +0 +0
		target +0 +90

/scene end
